/* Navbar container */
.navbar {
    background-color: #ffffff;
    overflow: hidden;
}

/* Navbar logo */
#navbar-logo {
    float: left;
    width: 50px;
    height : 50px;
}


/* Navbar links */
.navbar-links {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-links li {
    display: inline;
    margin-right: 20px;
}

.About-us li{
    text-decoration: none;
    color: #747474;
}

/* Style for the active link */
.navbar-links a.active {
    font-weight: bold;
}
