/*body {font-family: Arial, Helvetica, sans-serif;} */
.navbar {
  width: 100%;
  background-color: #ffffff;
  overflow: auto;
}

.navbar a {
    position: relative;
    top: -8px; /* Adjust the top position */
    left: 448px; /* Adjust the left position */
    padding: 5px;
    color: #aeaeae;
    text-decoration: none;
    font-size: 17px;
    margin: 4px;
  }

.about_us {
  background-color: #ffffff;
  color: #00b39b !important;
}
/* Navbar logo */
.navbar_logo {
	width: 268px; /* Rendered width */
    height: 33px; /* Rendered height */
    object-fit: fill; /* Ensures the image covers the specified dimensions */
    margin-top: 7px;
    margin-left: 421px; 
}
.image{
    display: inline-block;
}
.image img {
    vertical-align: middle;
    margin-left: 887.8px; 
    margin-top: 51px;

}
.text_title p {
  position: relative;
    top: 1px; /* Adjust the top position */
    left: 541px; /* Adjust the left position */
    color: #00b39b !important;
    font-size: 35px;
    font-family: Work Sans,Arial,sans-serif;
    letter-spacing: -.3px;
  }
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}